/* REMOVE */

[class^='col'] {
    border: 1px dashed blue;
    min-height: 50px;
}


.sidebar-toggle-up {
    border: 1px solid royalblue;
    height: 50px;
}

.sidebar-toggle-bottom {
    border: 1px solid royalblue;
    min-height: 50px;
}

/* LAYOUT */
header {
    height: 70px;
    ;
}

.wrapper {
    display: flex;
    width: calc(100%);
    height: calc(100vh - 100px);
}

.sidebar {
    width: 100px;
    background-color: khaki;
}

.main-content {
    width: calc(100% - 100px);
    background-color: paleturquoise;
    overflow: auto;
}

.main-header {
    background-color: greenyellow;
}


@media screen and (min-width: 1200px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        width: calc(100% - 200px);
    }
}

.form-control {
    background-color: #e9ecef;
    ;
}

.header-searchbar {
    width: 80%;
    ;
}

.searchbar {
    height: 50px;
}